.section1 {
    height: 60vh; 
    background-color: rgba(217, 217, 217, 0.466); /* Turn white later on*/
    color: #132B67;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.section1-img{
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5); 
    border-radius: 2%;  
}
.section1-description {
    font-size: 18px;
}



.section2 {
    height: 50vh; 
    background-color: #c6c7c9; /* Turn white later on*/
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


.section3 {
    height: 80vh; 
    background-color: rgb(134, 134, 134);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
