.section1 {
    height: 60vh; 
    background-color: #d9d9d977; /* Turn white later on */
    color: #132B67;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }

  




  .section2 {
    height: 50vh; 
    background-color: #c6c7c9; /* Turn white later on */
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  



